.DS_Store
node_modules
/dist


# local env files
.env.development
.env.docker
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# remote sycn files
.remote-sync.json

# forms.yaml
forms.yaml
*.personal

# ontap stuff
ontap*.yaml

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# workspace
*.code-workspace

# git
.gitignore