---
- hosts: localhost
  gather_facts: false
  collections:
    - netapp.ontap
    - ansible.builtin
  vars:
    login: &login
      username: "{{ netapp_username }}"
      password: "{{ netapp_password }}"
      hostname: "{{ cluster }}"
      https: true
      validate_certs: false
  name: "Gather facts"
  tasks:
  - name: Test
    debug:
      msg: "{{ cluster }}"
    tags: always
  - name: Gather info about LUNs
    na_ontap_info:
      state: info
      gather_subset: volume_info
      <<: *login
    register: volinfo
    tags: always
  - name: Print volume list
    debug:
      msg:
       - "Looping {{ item.key }}"
    loop: "{{ volinfo.ontap_info.volume_info | dict2items }}"
    loop_control:
      label: "{{ item.key }}"
    tags: debug
